/*
Orange Color : #E67E22;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  /* sans-serif is a css keyword */
  font-size: 20px;
  font-weight: 300;
  /* 300 is from google's font option selection*/
  text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1;}

/* Review floats and how to clear them - This clear is tied to the gallery section*/
.clearfix:after {
  content: '.';
  clear: left;
  display: block;
  height: 0;
  visibility: hidden;


}

/*===============================================================================================
                                    REUSEABLE CONTENT
=================================================================================================*/
.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 65px 0;
  /* bottom padding may need revisions */
}

.box {
  padding: 1%;
  /* On the "grid.css file" .col:first-child { margin-left: 0; } --- Ask Community why*/
}

/*----PARAGRAPHS----*/
.long-copy {
  line-height: 145%;
  letter-spacing: .25px;
  width: 70%;
  margin-left: 15%;
  /*---review this in video Section 5, Lecture 43---*/

}

.box p {
  line-height: 145%;
  font-size: 90%;
}

/*------ICONS------*/

.icon-lg {
  font-size: 325%;
  display: block;
  color: #E67E22;
  padding-bottom: 10px
}

.icon-sm {
  font-size: 120%;
  display: inline-block;
  width: 30px;
  color: #E67E22;
  text-align: center;

/*Their Solution to vertical align*/
/*
  line-height: 120%;
  vertical-align: middle;
  margin-top: -2px;
*/


   /*My solution*/
  padding-bottom: 5px;
  padding-right: 10px;
  
}

/*------LINKS------*/
a:link,
a:visited {
  color: #E67E22;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #E67E22;
}


a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
  transition: color 0.4s;
}



/*===============================================================================================
                                        HEADINGS
=================================================================================================*/

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #FFF;
  font-size: 260%;
  word-spacing: 3px;
}

h2 {
  margin-bottom: 50px;
  font-size: 170%;
  word-spacing: 2px;
  text-align: center;
}

h2:after {
  margin: 0 auto;
  margin-top: 30px;
  display: block;
  width: 100px;
  height: 2px;
  background-color: #E67E22;
  content: "";
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
  letter-spacing: 0;
}


/*===============================================================================================
                                        BUTTONS
=================================================================================================*/

.btn:link,
.btn:visited, 
input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.25s, border 0.25s, color 0.25s;
}


.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: #E67E22;
  border: 1px solid #E67E22;
  color: #FFF;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #E67E22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-color: #CF6D17;
  
}

.btn-full:link,
.btn-full:visited {
  border: 1px solid #CF6D17;
}

.btn-ghost:hover,
.btn-ghost:active {
  color: #FFF;
  border: 1px solid #CF6D17;
}

/*===============================================================================================
                                        HEADER
=================================================================================================*/

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 120px;
  width: auto;
  float: left;
  margin-top: 20px;
}


/*===============================================================================================
                                        NAV
=================================================================================================*/
.main-nav {
  float: right;
  text-decoration: none;
  margin-top: 65px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  /* 18px = 18 divided by 20px(Declared as the default in the html selector) */
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #CF6D17;
  padding-bottom: 5px;
  transition: border-bottom .1s;
}


/*===============================================================================================
                                        FEATURES
=================================================================================================*/
.section-features .long-copy {
  /* used this selector since other long-copy will exist */
  margin-bottom: 30px;

}



/*===============================================================================================
                                        MEAL IMAGES
=================================================================================================*/

.section-meals {
  padding: 0;
}

.meals-showcase {
  /* ul's class */
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;

}

.meal-photo {
  /* figure's class *** - review the purpose of <figure> */
  width: 100%;
  /* Parent Container */
  margin: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0); /*Ask: shouldn't this completely black out the images*/
}

.meal-photo img {
  opacity: 0.5;
  height: auto;
  width: 100%;
  /* set so the child is the same same width as parent */
  transform: scale(1.15);
  transition: transform 0.5s;
}

.meal-photo img:hover {
  transform: scale(1.03);
  opacity: 1;
}

/*===============================================================================================
                                        HOW IT WORKS
=================================================================================================*/

.section-steps {
  background-color: #F4F4F4;
}

.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}

.steps-box:last-child {
  padding-right: 3%;
  margin-top: 70px;
}

.app-screen {
  width: 40%;
}

.work-steps {
  margin-bottom: 50px;
}

.work-steps:last-of-type {
  /*similiar to last-child */
  margin-bottom: 60px;

}

.work-steps div {
  color: #E67E22;
  border: 2px solid #E67E22;
  display: inline-block;
  /* Ensures no line breaks, and also collapsed the border box width??!!(review) */
  border-radius: 50%;
  height: 55px;
  width: 55px;
  text-align: center;
  padding: 5px;
  /* non-explicit padding in a circle div pushes text to center */
  float: left;
  margin-right: 25px;
  font-size: 150%;
}

.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
  margin-top: 18px; /* Aligned the phone with the buttons; May need adjusting */
}

.btn-app:link,
.btn-app:visited{
  border: none;
}

/*===============================================================================================
                                        CURRENT CITES
=================================================================================================*/

.cities-image {
  width: 100%;
  height: auto;
  margin-bottom: 15px;

}

.city-features {
 margin-bottom: 5px; 
}

/*===============================================================================================
                                       TESTIMONIALS
=================================================================================================*/

.testimonials{
background-image: linear-gradient(rgba(0, 0, 0, .8),rgba(0, 0, 0, .8)), url(img/back-customers.jpg);
background-size:cover;
color: white;
background-attachment: fixed;
}

blockquote {
  margin-top: 40px;
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;

}

blockquote::before{
  content: "\201C"; /*ISO Entity: https://css-trick.com/snippets/html/glyphs*/
  display: block;
  font-size: 500%;
  position: absolute;
  top: -5px;
  left: -5px;
}

cite{
  margin-top: 25px;
  font-size: 90%;  
  display: block;
}

cite img{
  height: 45px;
  margin-right: 15px;
  border-radius: 50%;
  border: 2px solid #43baffde;
  vertical-align: middle;
}

/*=============================================================================================== 
                                       SUBSCRIPTIONS
=================================================================================================*/

.subscriptions{
  background-color: #F4F4F4;
}

.plan-box{
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5px;
    box-shadow: 0 2px 2px #e3e3e3;
    
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #ebebeb;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child {
    text-align: center;
    border-bottom: 0;
}

.plan-box h3 {
 margin: 0;
}


.price-plan {
  font-size: 300%;
  font-weight: 100; /* refers to google fonts sizing & is found in HTML <head> */
  margin: 10px 0;
  color: #E67E22;
}

.price-plan span {
  font-size: 30%; /* 30% of the parent @ 300% */
}

.price-per-meal {
    font-size: 80%;
    font-weight: 300;
}

.plan-box ul {
    list-style: none;
    margin: 0; 
    padding: 5px 0; 
}

/*=============================================================================================== 
                                       CONTACT FORM
=================================================================================================*/
.contact-form {
    width: 60%;
    margin: 0 auto;
}



input[type=text], /* [ Attribute Selector ]  used here to NOT select "checkbox" and "textarea" */ 
input[type=email],
select,
textarea {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
    
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {outline:none;}

input[type=submit],
::placeholder {
    font-family: 'Lato', 'Arial', sans-serif;
}

::placeholder,
select {
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    color: #555;
}

/*=============================================================================================== 
                                       footer
=================================================================================================*/

footer {
    background-color: #333;
    color: #555;
    
}

footer ul{
    padding-left:0;
}

.footer-nav {
    float: left;
}

.social-links {
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    margin-right: 20px;
    
}

.footer-nav li:last-child,
.social-links li:last-child { 
    margin-right: 0;
}

footer a:link,
footer a:visited,
footer a:active
  {
    color: #555;
    text-decoration: none;
    border: 0;
}

footer a:hover {
    color: #E67E22;;

}
    